.kreisapuse{
  
    width: 100%;
    background-color: darkgrey;
    
    
}

.labapuse{

    width: 100%;
    background-color: grey;
}

.lielaisramis{
    border-style: groove;
    border-color:black;
    margin:20px;
    padding:20px;
    display: grid;
    grid-template-columns: 30% 70%;
    background-color:black
}

h1{ text-align: center;}